.index {
  font-size: 0.14rem;
}
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
ul {
  padding-left: 0;
  list-style: none;
}
.frame {
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}
.frame span {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.frame i.glyphicon,
.frame .first-title span {
  font-size: 0.14rem;
}
.heigth-10 {
  height: 0.1rem;
}
.margin-top-2 {
  margin-top: 0.2rem;
}
.margin-top-3 {
  margin-top: 0.3rem;
}
.margin-left-2 {
  margin-left: 0.2rem;
}
.margin-right-2 {
  margin-right: 0.2rem;
}
.btn-primary {
  border-radius: 0.04rem;
  background-color: #0081ff;
  padding: 0.09rem 0.39rem;
  font-size: 0.16rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  border: 0.01rem solid #0081ff;
}
.btn-md {
  width: 1.62rem;
}
.btn-primary.disabled {
  background-color: #999eae;
}
html {
  font-size: 100px;
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 130px !important;
  }
}
@media screen and (max-width: 1906px) {
  html {
    font-size: 110px !important;
  }
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 100px !important;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 90px !important;
  }
}
@media screen and (max-width: 1198px) {
  html {
    font-size: 90px !important;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 65px !important;
  }
}
@media screen and (max-width: 648px) {
  html {
    font-size: 75px !important;
  }
}
.flex-row-center {
  display: flex;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  align-content: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.beyong-width {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-info {
  margin-top: 0.32rem;
  font-size: 0.15rem;
  line-height: 1.8;
}
.el-menu {
  border-right: none;
}
.el-tabs__item {
  font-size: 0.18rem;
}
.heading {
  height: 0.38rem;
  margin: 0.69rem 0 0;
}
.heading .icon {
  width: 0.42rem;
  height: 0.38rem;
}
.heading .title {
  font-size: 0.28rem;
  margin-left: 0.15rem;
  margin-top: 0.05rem;
}
.login .main {
  position: relative;
}
.login .main .login_bg {
  width: 100%;
}
.login .main .sign {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 5rem;
  height: 3.47rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  opacity: 0.8;
}
.login .main .sign .title {
  font-size: 0.24rem;
  color: #3abad7;
  margin-top: 0.56rem;
}
.login .main .sign .iphone,
.login .main .sign .icode {
  margin-left: 0.72rem;
}
.login .main .sign .iphone .form-control {
  width: 2.2rem;
}
.login .main .sign .icode .form-control {
  width: 1.1rem;
}
.login .main .sign .icode .get_code {
  margin-left: 0.16rem;
  color: #545353;
  border-bottom: solid 0.01rem #545353;
  cursor: pointer;
}
.login .main .sign .login_now {
  margin-top: 0.36rem;
  margin-left: 0.4rem;
}
.login .main .sign .login_now .btn {
  padding: 0.1rem 0.57rem;
  background-color: #3abad7;
  border-color: #3abad7;
}
.goods-info .main .buy {
  position: relative;
}
.goods-info .main .buy .buy-now {
  position: absolute;
  top: 13.99rem;
  left: 50%;
  margin-left: -1rem;
  width: 2rem;
  height: 0.6rem;
  font-size: 0.23rem;
  color: #fff;
  border-radius: 0.66rem;
  background: red;
  padding: 0.14rem 0.2rem;
  letter-spacing: 0.02rem;
  cursor: pointer;
}
.goods-info .main .buy a:link,
.goods-info .main .buy a:hover,
.goods-info .main .buy a:visited {
  text-decoration: none;
  background-color: #fd6565;
}
.cart .main,
.wait-pay .main {
  margin: 0 auto;
  width: 11.45rem;
  text-align: left;
}
