.index {
  font-size: 14px;
}
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
ul {
  padding-left: 0;
  list-style: none;
}
.frame {
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}
.frame span {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.frame i.glyphicon,
.frame .first-title span {
  font-size: 14px;
}
.heigth-10 {
  height: 10px;
}
.margin-top-2 {
  margin-top: 20px;
}
.margin-top-3 {
  margin-top: 30px;
}
.margin-left-2 {
  margin-left: 20px;
}
.margin-right-2 {
  margin-right: 20px;
}
.btn-primary {
  border-radius: 4px;
  background-color: #0081ff;
  padding: 9px 39px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  border: 1px solid #0081ff;
}
.btn-md {
  width: 162px;
}
.btn-primary.disabled {
  background-color: #999eae;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
html {
  font-size: 100px;
}
@media screen and (max-width: 2560px) {
  html {
    font-size: 130px !important;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 125px !important;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 100px !important;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 85px !important;
  }
}
@media screen and (max-width: 648px) {
  html {
    font-size: 75px !important;
  }
}
.el-tabs__item {
  font-size: 18px;
}
.heading {
  height: 38px;
  margin: 69px 0 0px;
}
.heading .icon {
  width: 42px;
  height: 38px;
}
.heading .title {
  font-size: 28px;
  margin-left: 15px;
  margin-top: 5px;
}
.index .main .banner {
  width: 100%;
}
.index .main .logo {
  position: absolute;
  width: 160px;
  height: 67px;
  left: 18%;
  top: 174px;
}
.index .img-list .img-info {
  width: 1398px;
  height: 823px;
  margin: 44px auto 0;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}
.index .img-list .img-info .first-title {
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1b1b1b;
  margin-top: 60px;
}
.index .img-list .img-info .second-title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 0px;
  color: #1b1b1b;
  margin-top: 22px;
}
.index .img-list .img-info .apply-now {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #3abad7;
  margin-top: 37px;
}
.index .img-list .img-info .apply-now:hover {
  color: #10d3ff;
}
.index .img-list .img-info-1 {
  background: url(../img/index/plan.png) no-repeat center;
  background-size: 1398px 823px;
}
.index .img-list .img-info-2 {
  background: url(../img/index/product.png) no-repeat center;
  background-size: 1398px 867px;
}
.index .img-list .img-info-2 .first-title {
  color: #080808;
}
.index .pro-usr {
  width: 1398px;
  background-color: #1e1e1e;
  padding: 56px 0;
  margin: 0 auto;
}
.index .pro-usr .pro-test {
  margin-left: 107px;
  margin-right: 117px;
  text-align: left;
}
.index .pro-usr .pro-test .pro-title {
  font-family: AdobeHeitiStd-Regular;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.index .pro-usr .pro-test .divide-line {
  width: 660px;
  height: 3px;
}
.index .pro-usr .pro-test .pro-list {
  width: 660px;
}
.index .pro-usr .pro-test .pro-list .test-info {
  margin: 27px 30px 10px 0;
}
.index .pro-usr .pro-test .pro-list .test-info img {
  width: 200px;
  height: 150px;
  background-color: #444444;
}
.index .pro-usr .pro-test .pro-list .test-info .test-title {
  font-size: 16px;
  color: #b6b6b6;
}
.index .pro-usr .user-back {
  text-align: left;
}
.index .pro-usr .user-back .user-title {
  font-family: AdobeHeitiStd-Regular;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.index .pro-usr .user-back .divide-line {
  width: 408px;
  height: 3px;
}
.index .pro-usr .user-back .user-weibo {
  margin: 24px  20px 0;
  width: 227px;
  height: 403px;
}
.index .pro-usr .user-back .go-know {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #3abad7;
  margin: 132px 0 253px 78px;
}
.index .pro-des {
  margin: 0 auto;
}
.index .pro-des .des-title {
  font-size: 48px;
  color: #444444;
  margin-top: 265px;
}
.index .pro-des .des-info {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #444444;
  margin-top: 23px;
}
.index .pro-des .pro-icons {
  margin-top: 241px;
  margin-bottom: 320px;
}
.index .pro-des .pro-icons .pro-info {
  width: 160px;
}
.index .pro-des .pro-icons .pro-info img {
  width: 100px;
  height: 100px;
}
.index .pro-des .pro-icons .pro-info .info-des {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 26px;
  text-align: left;
}
.index .pro-des .pro-icons .pro-info-1 {
  margin-left: 127px;
}
.index .pro-des .pro-icons .pro-info-2 {
  margin-left: 328px;
}
.index .pro-des .pro-icons .pro-info-3 {
  margin-left: 332px;
}
.index .about-us {
  background: url(../img/index/us.png) no-repeat center;
  background-size: 100%;
  padding-bottom: 20px;
}
.index .about-us .title {
  font-size: 36px;
  color: #fff;
  padding-top: 60px;
}
.index .about-us .us-info {
  margin: 45px auto 15px;
}
.index .about-us .us-info .us-des {
  width: 288px;
}
.index .about-us .us-info .us-des .des {
  margin-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 20px;
}
.login .main {
  position: relative;
}
.login .main .login_bg {
  width: 100%;
}
.login .main .sign {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 500px;
  height: 347px;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.8;
}
.login .main .sign .title {
  font-size: 24px;
  color: #3abad7;
  margin-top: 56px;
}
.login .main .sign .iphone,
.login .main .sign .icode {
  margin-left: 72px;
}
.login .main .sign .iphone .form-control {
  width: 220px;
}
.login .main .sign .icode .form-control {
  width: 110px;
}
.login .main .sign .icode .get_code {
  margin-left: 16px;
  color: #545353;
  border-bottom: solid 1px #545353;
  cursor: pointer;
}
.login .main .sign .login_now {
  margin-top: 36px;
  margin-left: 40px;
}
.login .main .sign .login_now .btn {
  padding: 10px 57px;
  background-color: #3abad7;
  border-color: #3abad7;
}
.goods .main {
  margin: 118px auto 233px;
  width: 1184px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}
.goods .main .left-goods {
  margin-right: 190px;
}
.goods .main .goods-info {
  width: 497px;
  height: 475px;
  margin-top: 30px;
}
.goods .main .goods-info img {
  width: 497px;
  height: 385px;
}
.goods .main .goods-info .goods-title {
  font-size: 18px;
  line-height: 24px;
  color: #202020;
  margin-top: 19px;
}
.goods .main .goods-info .buy-now {
  font-size: 18px;
  line-height: 20px;
  color: #3abad7;
  margin-top: 23px;
}
.goods-info .main .buy {
  position: relative;
}
.goods-info .main .buy .buy-now {
  position: absolute;
  top: 1399px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 60px;
  font-size: 23px;
  color: #fff;
  border-radius: 66px;
  background: red;
  padding: 14px 20px;
  letter-spacing: 2px;
  cursor: pointer;
}
.goods-info .main .buy a:link,
.goods-info .main .buy a:hover,
.goods-info .main .buy a:visited {
  text-decoration: none;
  background-color: #fd6565;
}
.goods-one .main {
  padding-top: 76px;
  padding-bottom: 188px;
  margin: 0 auto;
}
.goods-one .main .left-show {
  display: inline-block;
  margin-right: 66px;
  width: 690px;
}
.goods-one .main .left-show .img {
  width: 690px;
  height: 533px;
}
.goods-one .main .left-show .title {
  font-size: 24px;
  color: #202020;
  margin-top: 26px;
  text-align: left;
}
.goods-one .main .left-show .info {
  font-size: 18px;
  text-align: left;
}
.goods-one .main .left-show .info a {
  color: #3abad7;
}
.goods-one .main .goods-info .info {
  display: flex;
  align-items: center;
}
.goods-one .main .goods-info .info .title {
  font-size: 16px;
  color: #646464;
  margin-right: 38px;
  width: 50px;
  text-align: left;
}
.goods-one .main .goods-info .orgin-prise .num {
  color: #f04827;
  font-size: 27px;
  text-decoration: line-through;
}
.goods-one .main .goods-info .orgin-prise .num .sign {
  font-size: 22px;
}
.goods-one .main .goods-info .share-prise {
  margin-top: 29px;
}
.goods-one .main .goods-info .share-prise .num {
  color: #f04827;
  font-size: 36px;
}
.goods-one .main .goods-info .share-prise .num .sign {
  font-size: 30px;
}
.goods-one .main .goods-info .share-prise .num .des {
  font-size: 18px;
}
.goods-one .main .goods-info .goods-intro,
.goods-one .main .goods-info .goods-num,
.goods-one .main .goods-info .promise {
  margin-top: 46px;
}
.goods-one .main .goods-info .goods-intro .des {
  font-size: 18px;
  color: #3abad7;
}
.goods-one .main .goods-info .goods-num .num {
  border: 1px solid #b6b6b6;
}
.goods-one .main .goods-info .goods-num .num .des {
  width: 60px;
  display: inline-block;
  font-size: 22px;
}
.goods-one .main .goods-info .goods-num .num .reduce,
.goods-one .main .goods-info .goods-num .num .add {
  font-size: 24px;
  background: #b6b6b6;
  width: 34px;
  height: 34px;
  color: #fff;
  display: inline-block;
}
.goods-one .main .goods-info .promise .des {
  font-size: 18px;
  text-align: left;
}
.goods-one .main .goods-info .btn-buy {
  margin-top: 180px;
}
.goods-one .main .goods-info .btn-buy .ready-buy .cart,
.goods-one .main .goods-info .btn-buy .ready-buy .buy {
  height: 52px;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 12px;
  cursor: pointer;
}
.goods-one .main .goods-info .btn-buy .ready-buy .cart {
  border: solid 1px #313131;
  margin-right: 32px;
  color: #000;
}
.goods-one .main .goods-info .btn-buy .ready-buy .buy {
  background-color: #f04827;
  border-radius: 10px;
  color: #fff;
}
.cart .main,
.wait-pay .main {
  margin: 0 auto;
  width: 1145px;
  text-align: left;
}
.cart .main .sec-title {
  font-size: 18px;
  color: #010101;
  margin-top: 58px;
  margin-bottom: 30px;
}
.cart .main .balance {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 150px;
}
.cart .main .balance .settlement {
  width: 101px;
  font-size: 28px;
  padding: 13px 22px;
  background-color: #f04827;
  border-radius: 10px;
  color: #fcfcfc;
}
