.index {
    font-size: 0.14rem;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.frame {
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    span {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
    i.glyphicon,
    .first-title span {
        font-size: 0.14rem;
    }
}

.heigth-10 {
    height: 0.10rem
}

.margin-top-2 {
    margin-top: 0.2rem;
}

.margin-top-3 {
    margin-top: 0.3rem;
}

.margin-left-2 {
    margin-left: 0.2rem;
}

.margin-right-2 {
    margin-right: 0.2rem;
}

.btn-primary {
    border-radius: 0.04rem;
    background-color: #0081ff;
    padding: 0.09rem 0.39rem;
    font-size: 0.16rem;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    border: 0.01rem solid #0081ff;
}

.btn-md {
    width: 1.62rem;
}

.btn-primary.disabled {
    background-color: #999eae;
}

html {
    font-size: 100px;
}

@media screen and (max-width:2560px) {
    html {
        font-size: 108px !important;
    }
}

@media screen and (max-width:1920px) {
    html {
        font-size: 100px !important;
    }
}

@media screen and (max-width:1680px) {
    html {
        font-size: 100px !important;
    }
}

@media screen and (max-width:1400px) {
    html {
        font-size: 100px !important;
    }
}

@media screen and (max-width:1198px) {
    html {
        font-size: 90px !important;
    }
}

@media screen and (max-width:991px) {
    html {
        font-size: 80px !important;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 65px !important;
    }
}

@media screen and (max-width:648px) {
    html {
        font-size: 75px !important;
    }
}

.flex-row-center {
    display: flex;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    align-content: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.beyong-width {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-info {
    margin-top: 0.32rem;
    font-size: 0.15rem;
    line-height: 1.8;
}

// 改写ele
.el-menu {
    border-right: none;
}

.el-tabs__item {
    font-size: 0.18rem;
}

.heading {
    height: 0.38rem;
    margin: 0.69rem 0 0;
    .icon {
        width: 0.36rem;
        height: 0.38rem;
    }
    .title {
        font-size: 0.24rem;
        margin-left: 0.15rem;
        margin-top: 0.05rem;
    }
}

.login {
    .main {
        position: relative;
        .login_bg {
            width: 100%;
        }
        .sign {
            position: absolute;
            top: 25%;
            left: 55%;
            width: 5rem;
            height: 3.47rem;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.1rem;
            opacity: 0.8;
            .title {
                font-size: 0.24rem;
                color: #3abad7;
                margin-top: 0.56rem;
            }
            .iphone,
            .icode {
                margin-left: 0.72rem;
            }
            .iphone .form-control {
                width: 2.2rem;
            }
            .icode {
                .form-control {
                    width: 1.1rem;
                }
                .get_code {
                    margin-left: 0.16rem;
                    color: #545353;
                    border-bottom: solid 0.01rem #545353;
                    cursor: pointer;
                }
            }
            .login_now {
                margin-top: 0.36rem;
                margin-left: 0.4rem;
                .btn {
                    padding: 0.1rem 0.57rem;
                    background-color: rgba(58, 186, 215, 1);
                    border-color: rgba(58, 186, 215, 1);
                }
            }
        }
    }
}

.cart,
.wait-pay {
    .main {
        margin: 0 auto;
        width: 11.9rem;
        text-align: left;
    }
}

.main {
    .r-content {
        width: 8.5rem;
    }
}
